<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>07_Window</title>
<style type="text/css">
	.area{border: 1px solid black; min-height: 100px;}
</style>
</head>
<body>
	<h1>window객체</h1>
	<p>
		window객체는 자바스크립트의 최상위 객체이며
		BOM(Browser Object Model)과 Dom(Document Object Model)으로 나뉨
	</p>
	<h2>window객체</h2>
	<p>브라우저 창에 대한 설정을 하는 객체</p>
	<button onclick="test1();">실행</button>
	<button onclick="test2();">실행</button>
	<script>
		function test1(){
// 			window.open(); // 새 창 띄우기
// 			window.open('01_JavaScript.html');
// 			window.open('http://www.naver.com');
			window.open('http://www.naver.com', '네이버', 'width=500, height=300'); 
			//					주소				  이름			형태(specs)
			// 크기를 지정해서 팝업창 띄우기 가능
			window.open('http://www.google.com', '구글', 'width=300, height=500');
			// 팝업창 여러 개 띄우기 가능
		}
		
		function test2(){
			var myPopup = window.open();
			myPopup.document.write('<h2>나 팝업이야!</h2>');
		}
	</script>
	
	<h3>timer메소드</h3>
	<h4>setTimeout()</h4>
	<button onclick="test3();">실행확인</button>
	<script>
		function test3(){
			var myWindow = window.open('', '', 'width=500, height=300');
			myWindow.alert('3초 후에 이 페이지는 종료됩니다.');
			
			window.setTimeout(function(){
				myWindow.close(); // 창 닫기
			}, 3000); // 1초가 1000
		}
	</script>
	
	<h4>setInterval()</h4>
	<button onclick="test4();">실행확인</button>
	<div id="area4" style="border: 1px solid blue; width: 300px; height: 100px; font-size: 40px; color: red"></div>
	<script>
		function test4(){
			var area = document.getElementById('area4');
			
			window.setInterval(function(){
				var date = new Date();
				
				area.innerHTML = date.getHours() + ":" + date.getMinutes() 
								+ ":" + date.getSeconds();
			}, 1000	);
		}
	</script>
	
	<button onclick="test5();">실행확인</button>
	<div id="area5" style="border: 1px solid black; width: 300px; height: 100px; font-size: 40px; color: red;"></div>
	<script>
		function test5(){
			// area5 안에 3초부터 거꾸로 카운트(ex. 3 2 1)
			// 0초가 되면 '종료!' 출력 후 정지
			var area = document.getElementById('area5');
			var count = 3;
			
			var count3 = window.setInterval(function(){
				area.innerHTML = 'countdown : ' + count--;
				
				if(count < 0){
					area.innerHTML += '종료!';
					// 그냥 =만 넣으면 카운트가 종료되지는 않은 채 계속 음수가 '종료!'로 대체될 뿐임
					clearInterval(count3);
					// 이것으로 카운트를 멈춰야 한다.
				}
				
			}, 1000);
		}
	</script>
	
	<h2>BOM객체</h2>
	<h3>location객체</h3>
	<p>브라우저 주소 표시줄과 관련된 객체</p>
	<button onclick="test1();">실행확인</button>
	<script>
		function test1(){
			console.log(location);
// 			for(var key in location){
// 				console.log(key);
// 				console.log(location[key]);
// 			}
		}
	</script>
	<h4>location.href</h4>
	<p>페이지 이동</p>
	<button onclick="location.href='http://www.naver.com'">네이버로 이동</button>
	<button onclick="location='http://www.naver.com'">네이버로 이동</button>
	
	<h4>reload()</h4>
	<p>페이지를 새로고침 하는 메소드</p>
	<button onclick="location=location">새로고침</button>
	<button onclick="location.href=location.href">새로고침</button>
	<!-- 새로고침하면서 페이지 최상단으로 이동 -->
	<button onclick="location.reload()">새로고침</button>
	<!-- 그 자리에서 새로고침 -->
	
	<h4>assign()과 replace()</h4>
	<p>
		페이지 이동하는 메소드
		replace()는 assign()과는 다르게 history객체에 현재 resource를 남기지 않음
	</p>
	<button onclick="location.assign('http://www.google.com')">구글로 이동</button>
	<!-- 일반적. 이동한 페이지가 제일 최근 페이지가 됨 -->
	<button onclick="location.replace('http://www.google.com')">구글로 이동</button>
	<!-- 원래 페이지를 이동할 페이지로 대체하기 때문에 뒷페이지와 앞페이지 둘 다 존재하게 됨 -->
	<h3>navigator객체</h3>
	<p>웹 페이지를 실행하고 있는 브라우저에 대한 정보를 갖고 있는 객체</p>
	<button onclick="test2();">실행확인</button>
	<script>
		function test2(){
			console.log(navigator);
		}
	</script>
	
	<h3>screen객체</h3>
	<p>모니터의 속성을 가지는 객체</p>
	<button onclick="test3();">실행확인</button>
	<script>
		function test3(){
			console.log(screen);
		}
	</script>
	
	<h3>history객체</h3>
	<p>브라우저 방문 기록과 관련된 객체</p>
	<button onclick="history.back();">back</button>
	<button onclick="history.forward();">forward</button>
	
	<br><br>
	
	<input type="number" id='num'>
	<button onclick="test4();">go</button>
	<script>
		function test4(){
			var num = document.getElementById('num').value;
			history.go(num);
		}
		// 내가 지정한 숫자만큼 뒤로 가기 앞으로 가기 가능
	</script>
	
	<br><br>
	
	<button onclick="history.go(-1);">go back</button>
	<button onclick="history.go(1);">go forward</button>
	
	<h2>DOM</h2>
	<!-- 
	태그를 도큐먼트화(객체화) 해서 하나하나 접근, 관리할 수 있게 하겠다
	노드 = 태그, 비슷한 말
	 -->
	<h3>텍스트 노드가 있는 노드 생성</h3>
	<div id="area1" class="area"></div>
	<button onclick="test5();">실행확인</button>
	<script>
		function test5(){
			var area = document.getElementById('area1');
			
			var nodeH3 = document.createElement('h3'); // <h3></h3>
			var textNodeHello = document.createTextNode('안녕') // 안녕
			
			nodeH3.appendChild(textNodeHello); // <h3>안녕</h3>
			area.appendChild(nodeH3); // nodeH3에 Hello가 붙은 상태니까 nodeH3만 붙여도 됨
		}
	</script>
	
	<h3>텍스트 노드가 없는 노드 생성</h3>
	<div id="area2" class="area"></div>
	<button onclick="test6();">실행확인</button>
	<script>
		function test6(){
			var area = document.getElementById('area2');
			
			var nodeImg = document.createElement('img'); // <img>
			nodeImg.src = 'https://www.telegraph.co.uk/content/dam/Pets/spark/royal-canin/happy-puppy.jpg?imwidth=1240';
			nodeImg.height = '100';
			nodeImg.width = '150';
			nodeImg.myProperty = '123'; // myProperty 없음
			nodeImg.setAttribute('myProperty', '456'); // 강제로 넣을 수 있음
			// <img src="~" height="100" width="150" myproperty="456">
			
			area.appendChild(nodeImg);
		}
	</script>
	
	<h3>innerHTML</h3>
	<button onclick="test7();">실행확인</button>
	<table border='1' id="board">
		<tr>
			<th>글번호</th>
			<th>글제목</th>
			<th>작성자</th>
			<th>조회수</th>
			<th>작성일자</th>
		</tr>
	</table>
	<script>
		function test7(){
			var board = document.getElementById('board');
			
			var num = 1;
			var title = '제목';
			var writer = '작성자';
			var count = 0;
			var date = new Date();
			
			board.innerHTML += "<tr><td>" + num + "</td>"
							   + "<td>" + title + "</td>"
							   + "<td>" + writer + "</td>"
							   + "<td>" + count + "</td>"
							   + "<td>" + date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + "</td></tr>";
			// innerText : innerHTML과는 다르게 해석하지 않은 텍스트를 그대로 들고 옴
			// 			=> 태그도 그대로 문자로 들어가기 때문에 태그가 들어간다면 innerHTML권장
		}
	</script>
	
	<h3>스타일 지정</h3>
	<button onclick="test8();">실행확인</button>
	<div id="area3" class="area"></div>
	<script>
		function test8(){
			var area = document.getElementById('area3');
			area.style.backgroundColor = 'black';
			area.style.borderRadius = '100px';
			area.style.transition = 'all 2s';
		}
	</script>
	
	<h3>노드 삭제</h3>
	<button onclick="test9();">실행확인</button>
	<div id="area9" class="area"></div>
	<script>
		function test9(){
			document.getElementById('area9').remove();
		}
	</script>
</body>
</html>